body{
  font-family: 'Montserrat', sans-serif;

}

.ce{
  padding-left: 19%;
}


#header-container > div > div > div:nth-child(1) > h1 > a{
  color: white;
  text-decoration: none;
}


#header-container,
#info-container{
  background-color:#3f9900;
  color: white;
}

#header-container .login,
#header-container  .navbar-toggler {
  color: white;
}


#header-container .container-fluid{
  border: 1px solid red;
}
#menu-container{
  background-color: #f7f7f9;
}
.btn.btn-platzi{
background-color:#3f9900;
color: white;
}
.btn.btn-platzi:hover{
  background-color: #8ab542;
}
input.form-control:focus {
  border-color:#3f9900;
}
.e{
  text-transform: uppercase;
}
#search-bar{
  padding: 1em;
}

#productsCarousel img {
  margin: 0 auto;
}
#info-container h4 {
margin: 1em 0;
}
#info-container img{
  margin: 0 auto;
  margin-top: 2em;
}
#footer-container{
  background-color: #1c3643;
  color: white;
  padding: 3em 0;
}
#footer-container .container h4{
  font-size: 16px;
}
#footer-container .nav-link{
  color: white;
}
@media screen and (max-width: 768px){
  #footer-container [class*="col-"]{
    margin-bottom: 2em;
  }
}
#breadcrumbs-container .breadcrumb{
background-color: white;
}
#breadcrumbs-container .breadcrumb .breadcrumb-item{
  color: #1c3643;
}
#breadcrumbs-container .breadcrumb  .breadcrumb-item.active {
  color: #95a5a6;
}
#breadcrumbs-container .breadcrumb .breadcrumb-item+.breadcrumb-item::before{
  content: ">";
}
#productos-container {
  margin-bottom: 2em;
}
#filtros-container .list-group-item-action.active {
background-color:#3f9900;
border-color:#3f9900;
}
#filtros-container .list-group {
  margin-bottom: 1em;
}
#filtros-container .list-group+.list-group {
margin-top: 1em;
}

@media screen and (max-width: 768px){
   .filtros-toggle {
    margin-bottom: 2em;}
    .listado-productos{
  margin-top: 1em;
}
 .card-img-top{
  width: 100%;
}
  }
  #paginator-container .page-item:not(.active):not(.disabled) .page-link {
color:#3f9900;
  }
#paginator-container .page-item.active .page-link, .page-item.active .page-link:focus, .page-item.active .page-link:hover{
  background-color:#3f9900;
  border-color:#3f9900;
  color: white;
}



/* GRANDE */
@media (min-width:992px){
  #info-container > div > div > div:nth-child(2) > img{
    height: 66.2%;
  }
  #info-container > div > div > div:nth-child(3) > img{
        height: 67%;
  }
  body > div.card > div.card-body{
        width: 100%;
        height: 61vh;
        padding-top: 5vh;
        padding-left: 2vw;
        color: black;

  }
  #navMenu > div:nth-child(1) > div > div.col-xs-12.col-md-6.offset-md-2.hidden-xs-down{
    margin-left: -8.333333%;
  }
  body > div.card > div.card-footer{
    display: grid;
        align-content: end;
        justify-content: end;

  }

  body > div.card > div.card-body > div.pull-right > a{
    display: flex;
    margin-right: 1vw;
    margin-top: 1vw;
  }
}

/*  /   GRANDE */


/* MEDIANO  */
@media (max-width:992px) and (min-width:768px){
  #info-container > div > div > div:nth-child(2) > img{
    height: 48.2%;

  }
  #info-container > div > div > div:nth-child(3) > img{
        height: 49%;
  }

  #info-container > div{
    height: 40vw;
  }

  .offset-md-2 {
    margin-left: 0px;
  }
  .col-xs{
        padding-left: 97px;
  }
  #navMenu > div > div > div.col-xs-12.col-md-6.offset-md-2.hidden-xs-down{

    margin-left: -67px;
  }


  body > div.card > div.card-body{
        width: 100%;
        height: 61vh;
        padding-top: 5vh;
        padding-left: 2vw;
        color: black;

  }
  body > div.card > div.card-footer{
    display: grid;
        align-content: end;
        justify-content: end;

  }
  body > div.card > div.card-body > div.pull-right > a{
    display: flex;
    margin-right: 1vw;
    margin-top: 1.5vw
  }
}

/* / MEDIANO  */


/* PEQUEÑO  */

@media  (min-width:544px){

/* seccion de Actualizar carrito  */

body > div.card > div.card-body{
  height: 57vh;
  }
  /*   /  seccion de Actualizar carrito  */

  /* Seccio de product description */


body > div.card > div.card-body > div:nth-child(1) > div.col-xs-4.col-md-6{
padding-left: 6vw;
}
body > div.card > div.card-body > div:nth-child(3) > div.col-xs-4.col-md-6{
  padding-left: 6vw;
}

  /* / Seccio de product description */
}
/* / PEQUEÑO  */


/* Mobile */
@media  (max-width:543px){
  body > div.card > div.card-body{
    height: 66vh;
    }

    body > div.card > div.card-body > div:nth-child(1) > div.col-xs-4.col-md-6{
      display: flex;
    flex-wrap: wrap;
    padding-left: 13%;
    }

    body > div.card > div.card-body > div:nth-child(3) > div.col-xs-4.col-md-6{
      display: flex;
    flex-wrap: wrap;
    padding-left: 13%;
    }

    body > div.card > div.card-body > div.pull-right > a{
      display: flex;
      margin-right: 1vw;
    }

body > div.card > div.card-body > div:nth-child(3) > div.col-xs-6.col-md-4.row,
body > div.card > div.card-body > div:nth-child(1) > div.col-xs-6.col-md-4.row{
  max-width: 46%;
}
body > div.card > div.card-body > div:nth-child(3) > div.col-xs-2.col-md-2 > img,
body > div.card > div.card-body > div:nth-child(1) > div.col-xs-2.col-md-2 > img{
  width: 148px;
height: 113px;
}
}
/* / Mobile */
